//Imports
@import 'Portafolio.scss';
//Variables
$TituloPrincipal: 36pt;
$ColorBoton: #028CB2;
$colorBotonHover: #00B0E2;
//Ajustes Generales
html {
    //Genera un Scroll General con las anclas
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.ColorBoton {
    background-color: $ColorBoton;
}

.ColorBoton:hover {
    background-color: $colorBotonHover;
    border: none;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

//Header, Menu 
header {
    width: 100%;
    background-color: rgba(235, 235, 235, 0.856) !important;
    position: fixed;
    z-index: 1;
    img {
        max-width: 60px;
        margin-left: 50px;
    }
    .Menu {
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 990px) {
    header {
        .Menu {
            display: flex;
            justify-content: flex-start;
            margin-left: 50px;
        }
    }
}

//Contenedor Imagen Principal
.Container-Img {
    height: 400px;
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-image: url('backgrounds/background-2.jpg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.Container-Text {
    width: 450px;
    position: absolute;
    top: 120px;
    left: 150px;
    color: white;
    h1 {
        font-size: $TituloPrincipal;
    }
}

.btn-white-outline {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.btn-white-outline:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

@media only screen and (max-width: 1080px) {
    .Container-Img {
        padding-top: 80px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        img {
            width: 50%;
        }
    }
    .Container-Text {
        width: 450px;
        position: absolute;
        top: 120px;
        left: 80px;
        h1 {
            font-size: $TituloPrincipal;
        }
    }
}

@media only screen and (max-width: 900px) {
    .Container-Img {
        padding-top: 80px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        img {
            width: 50%;
        }
    }
    .Container-Text {
        width: 280px;
        position: absolute;
        top: 150px;
        left: 50px;
        h6 {
            font-size: 10pt;
        }
        h1 {
            font-size: 26pt;
        }
        p {
            font-size: 8pt;
        }
    }
}

@media only screen and (max-width: 630px) {
    .Container-Img {
        padding-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            width: 50%;
        }
    }
    .Container-Text {
        width: 100%;
        //position: relative;
        top: 140px;
        left: 0px;
        text-align: center;
        padding: 0% 10% 0% 10%;
        margin-bottom: 50px;
        color: white;
        text-align: center;
        h6 {
            font-size: 10pt;
            text-align: center;
        }
        h1 {
            font-size: 26pt;
            text-align: center;
        }
        p {
            font-size: 8pt;
            text-align: center;
        }
    }
    .btn-white-outline {
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }
}

// SubMenu | Seccion 2
#SubMenu {
    width: 100%;
    background-color: #DFEAF5;
    ul {
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: flex;
        justify-content: center;
        padding-top: 35px;
        padding-bottom: 35px;
        li {
            list-style: none;
            padding: 0px 20px 0px 20px;
            a {
                width: 100px;
                color: black;
            }
        }
    }
}

.LineaVertical {
    border-right: 1px solid black;
}

@media only screen and (max-width: 769px) {
    #SubMenu {
        ul {
            padding-top: 25px;
            padding-bottom: 25px;
            li a {
                font-size: 10pt;
            }
        }
    }
}

@media only screen and (max-width: 455px) {
    #SubMenu {
        width: 100%;
        background-color: #DFEAF5;
        ul {
            width: 100%;
            margin: 0%;
            padding: 0%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 25px;
            padding-bottom: 25px;
            li {
                width: 100%;
                list-style: none;
                padding: 8px 0px 8px 0px;
                text-align: center;
                a {
                    width: 100px;
                    color: black;
                    font-size: 10pt;
                }
            }
        }
    }
    .LineaVertical {
        border-right: none;
        border-bottom: 1px solid black;
        padding: 0px;
        width: 20px;
    }
}

//Section Acerca de Mi
#AcercaDeMi {
    width: 100%;
    background-color: #F5FAFF;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    div {
        margin-top: 3%;
        width: 65%;
        text-align: center;
        padding-bottom: 100px;
    }
}

.ContenedorCajas {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    position: relative;
    top: -120px;
    .caja {
        width: 300px;
        border: 1px solid #707070;
        background-color: #ffffff;
        margin: 0px 20px 0px 20px;
        //Sombra
        -webkit-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25);
        box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25);
        img {
            width: 100%;
        }
        div {
            text-align: center;
            padding: 10% 3% 5% 3%;
            h6 {
                font-size: 18pt;
                margin-bottom: 3%;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (max-width: 910px) {
    #AcercaDeMi {
        width: 100%;
        display: flex;
        justify-content: center;
        div {
            margin-top: 3%;
            width: 65%;
            text-align: center;
            padding-bottom: 150px;
            p {
                font-size: 10pt;
            }
        }
    }
    .ContenedorCajas {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        position: relative;
        top: -140px;
        .caja {
            width: 200px;
            border: 1px solid #707070;
            background-color: #ffffff;
            margin: 0px 10px 0px 10px;
            //Sombra
            -webkit-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25);
            img {
                width: 100%;
            }
            div {
                text-align: center;
                padding: 10% 5% 5% 5%;
                h6 {
                    font-size: 14pt;
                    margin-bottom: 3%;
                }
                p {
                    font-size: 10pt;
                    height: 80px;
                    margin-bottom: 0px;
                }
                .compensador {
                    margin-top: 22px;
                }
            }
        }
    }
}

@media only screen and (max-width: 630px) {
    .ContenedorCajas {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10px;
        position: relative;
        top: -140px;
        .caja {
            width: 300px;
            border: 1px solid #707070;
            background-color: #ffffff;
            margin: 5% 15% 5% 15%;
            //Sombra
            -webkit-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25);
            img {
                width: 100%;
            }
            div {
                text-align: center;
                padding: 10% 5% 5% 5%;
                h6 {
                    font-size: 14pt;
                    margin-bottom: 3%;
                }
                p {
                    font-size: 10pt;
                    height: 80px;
                    margin-bottom: 0px;
                }
                .compensador {
                    margin-top: 22px;
                }
            }
        }
    }
}

//Sección de Habilidades 
#Habilidades {
    background-color: #DFEAF5;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 90px;
    p {
        padding-left: 8%;
        padding-right: 8%;
        font-size: 12pt;
        margin-bottom: 50px;
    }
    .ContenedorHabilidades {
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
        // A partir de aquí estas clases se ejecutan con el Script Habilidades.js
        .Categoria {
            width: 100%;
            padding-left: 3%;
            padding-right: 3%;
            margin: 2% 0% 2% 0%;
            h3 {
                font-size: 18pt;
                margin-bottom: 30px;
            }
            .cont-PorcentajePrincipal {
                width: 100%;
                display: flex;
                align-items: center;
                .ContenedorHabilidad {
                    width: 100%;
                    height: 45px;
                    border: 1px solid #C3C3C3;
                    background-color: white;
                    margin: 10px 0px 10px 0px;
                    //Borde
                    border-radius: 10px 10px 10px 10px;
                    -moz-border-radius: 10px 10px 10px 10px;
                    -webkit-border-radius: 10px 10px 10px 10px;
                    //Shadows
                    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
                    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
                    .BarraPocentaje {
                        position: relative;
                        width: 90%;
                        height: 100%;
                        background-color: #C2EFFC;
                        border-radius: 10px 0px 0px 10px;
                        -moz-border-radius: 10px 0px 0px 10px;
                        -webkit-border-radius: 10px 0px 0px 10px;
                        p {
                            padding-top: 10px;
                            padding-left: 20px;
                            margin: 0%;
                            text-align: left;
                        }
                        //Modifican los tamaños de letra dentro de las cajas de habilidades
                        @media screen and (min-width: 990px) and (max-width: 1310px) {
                            p {
                                padding-top: 5px;
                                font-size: 9pt;
                            }
                            .ContenedorHabilidad {
                                height: 45px;
                            }
                        }
                        @media only screen and (max-width: 600px) {
                            p {
                                padding-top: 5px;
                                font-size: 9pt;
                            }
                            .ContenedorHabilidad {
                                height: 45px;
                            }
                        }
                    }
                }
                .TextPorcent {
                    font-size: 14pt;
                    font-weight: bold;
                    padding-left: 20px;
                    margin: 0%;
                }
                // Termina las clases que se ejecutan con el Script Habilidades.js
            }
        }
    }
}

//Sección Experiencia y Educación
#Experiencia {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 50px;
    .container {
        .titulos {
            justify-content: center;
            margin-bottom: 50px;
        }
        .row {
            text-align: center;
            //Linea de tiempo en medio
            .linea {
                width: 10px;
                height: 3500px !important;
                background-color: #DFEAF5;
            }
            .cont-exp-edu {
                position: absolute;
                width: 100%;
                .cont {
                    width: 100%;
                    display: flex;
                }
            }
        }
    }
}

.TextLeft {
    text-align: left;
    margin-left: 5%;
}

.TextRight {
    text-align: right;
    margin-right: 5%;
}

.flex-end {
    justify-content: flex-end;
}

.vacio {
    width: 48%;
}

.caja-texto {
    width: 53%;
    margin-bottom: 50px;
    display: flex;
}

.info {
    width: 50%;
    p {
        margin: 0%;
    }
    .tiempo {
        font-style: italic;
    }
    .Descripcion {
        font-size: 10pt;
    }
}

@media screen and (min-width: 1501px) and (max-width: 2000px) {
    .vacio {
        width: 48.5%;
    }
    .caja-texto {
        width: 51.5%;
    }
    .info {
        width: 60%;
    }
    .linea {
        height: 3000px !important;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1500px) {
    .vacio {
        width: 48.5%;
    }
    .caja-texto {
        width: 51.8%;
    }
    .info {
        width: 60%;
    }
    .linea {
        height: 3000px !important;
    }
}

@media screen and (min-width: 1026px) and (max-width: 1439px) {
    .vacio {
        width: 48%;
    }
    .caja-texto {
        width: 52%;
    }
    .info {
        width: 70%;
    }
    .linea {
        height: 3300px !important;
    }
}

@media screen and (min-width: 931px) and (max-width: 1025px) {
    .vacio {
        width: 48.5%;
    }
    .caja-texto {
        width: 53.5%;
    }
    .info {
        width: 80%;
    }
    .linea {
        height: 3300px !important;
    }
}

@media screen and (min-width: 770px) and (max-width: 930px) {
    .vacio {
        width: 47%;
    }
    .caja-texto {
        width: 53%;
    }
    .info {
        width: 80%;
    }
    .linea {
        height: 3700px !important;
    }
}

@media screen and (min-width: 701px) and (max-width: 769px) {
    .info {
        width: 80%;
    }
    .vacio {
        width: 46.5%;
    }
    .caja-texto {
        width: 53.1%;
    }
    .cont-exp-edu {
        width: 90% !important;
    }
    .info {
        width: 80%;
    }
    .linea {
        height: 4000px !important;
    }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
    .info {
        width: 80%;
    }
    .vacio {
        width: 46%;
    }
    .caja-texto {
        width: 54%;
    }
    .cont-exp-edu {
        width: 90% !important;
    }
    .linea {
        height: 4600px !important;
    }
}

@media only screen and (max-width: 600px) {
    .circuloExp,
    .circuloEdu {
        width: 30px !important;
        height: 30px !important;
    }
    .vacio {
        width: 0%;
    }
    .caja-texto {
        width: 100%;
    }
    .circuloEdu {
        margin-left: 0px !important;
    }
    .flex-end {
        flex-direction: row-reverse;
    }
    .TextRight {
        text-align: left;
        margin-left: 5%;
    }
    .TextLeft {
        margin-right: 5%;
    }
    .lineaMobile {
        justify-content: flex-start;
    }
    .linea {
        margin-left: 10px;
        height: 4500px !important;
    }
    .cont-exp-edu {
        width: 90% !important;
    }
    .info {
        width: 100%;
    }
    .cont {
        width: 100%;
    }
}

.circuloExp {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #60AFFF;
}

.circuloEdu {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #93F4FC;
}

.contenedorCirculo {
    width: 50px !important;
}

#Experiencia {
    .container {
        .row {
            .linea {
                height: 3500px !important;
            }
        }
    }
}

@media only screen and (max-width: 1180px) {
    #Experiencia {
        .container {
            .row {
                .linea {
                    height: 3800px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 855px) {
    #Experiencia {
        .container {
            .row {
                .linea {
                    height: 4500px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 670px) {
    #Experiencia {
        .container {
            .row {
                .linea {
                    height: 5000px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #Experiencia {
        .container {
            .row {
                .linea {
                    height: 4000px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    #Experiencia {
        .container {
            .row {
                .linea {
                    height: 5000px !important;
                }
            }
        }
    }
}


/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Color de fondo translúcido */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 800px;
    height: 600px;
    margin-top: 50px;
    /* Ancho del modal */
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .modal-content {
        height: 300px;
    }
}